/* styles/AllPages.module.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}
.container .img{
    text-align: center;
    margin: auto;
}
.container h1 {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.container ul {
    list-style:'*';
    padding: 0;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 20px;
}

.container li {
    margin: 10px 0;
}

.container a {
    text-decoration: none;
    color: #1ec40a;
}

.container a:hover {
    text-decoration: underline;
}