/* styles/TermsOfService.module.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    position: relative;
}

.backIcon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

   .container h1 {
        font-size: 24px;
    }

    .container p {
        font-size: 14px;
    }
}